@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("steak.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.header {
    font-family: 'Trade Winds', cursive;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px 0;
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 700px;
    padding: 50px;
    gap: 50px;
    margin: 50px 0 100px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.main>* {
    width: 400px;
    text-align: center;
    padding: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
}

img {
    width: 200px;
}

.contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-title {
    font-weight: bold;
    font-size: 2rem;
    width: 500px;
    border: 5px solid white;
}

.nav {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 0;
}

.nav-button {
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 100px;
    height: 50px;
}

.nav-button:hover {
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.5);
}

.current-nav {
    border-bottom: 5px solid white;
}